<div class="page-header">
  <%= link_to overview_exam_path(@question.exam_id), :class => 'btn btn-default' do %>
    <span class="fa fa-list-alt"></span>
    <%= _('Back') %>
  <% end %>
  <%= link_to edit_question_path(@question), :class => 'btn btn-primary' do %>
    <span class="fa fa-pencil"></span>
  <%= _('Edit') %>
  <% end %>
  <h1><%= _('Question for exam: ') %><%= @question.exam.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt><%= _('Question:') %></dt>
  <dd><%= @question.question %></dd>
  <dt><%= _('Correct answer:') %></dt>
  <dd><%= @question.correct_answer %></dd>
  <dt><%= _('Answer 1:') %></dt>
  <dd><%= @question.answer_1 %></dd>
  <dt><%= _('Answer 2:') %></dt>
  <dd><%= @question.answer_2 %></dd>
  <dt><%= _('Answer 3:') %></dt>
  <dd><%= @question.answer_3 %></dd>
  <dt><%= _('Description:') %></dt>
  <dd><%= @question.description %></dd>
</dl>
