<div class="page-header">
  <%= link_to new_user_badge_path, :class => 'btn btn-primary' do %>
    <span class="fa fa-plus"></span>
    <%= _('New User badge') %>
  <% end %>
  <h1><%= _('User_badges') %></h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover datatable">
    <thead>
      <tr>
        <th><%= _('Unlocked date') %></th>
        <th><%= _('Badge') %></th>
        <th><%= _('User') %></th>
        <th><%= _('Exam') %></th>
        <th><%= _('Notified') %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @user_badges) do |user_badge| %>
        <td><%= user_badge.unlocked_date %></td>
        <td><%= user_badge.badge_id %></td>
        <td><%= user_badge.user_id %></td>
        <td><%= user_badge.exam_id %></td>
        <td><%= user_badge.notified %></td>
        <td>
        <%= link_to fa_icon('search'), user_badge, class: 'btn btn-primary btn-xs', 'data-toggle' => 'tooltip', 'data-placement' => 'top', :title => _('View') %>
        <%= link_to fa_icon('pencil'), edit_user_badge_path(user_badge), class: 'btn btn-warning btn-xs', 'data-toggle' => 'tooltip', 'data-placement' => 'top', :title => _('Edit') %>
        <%= link_to fa_icon('remove'), user_badge, method: :delete, data: { confirm: _('Are you sure that you want delete this?') }, class: 'btn btn-danger btn-xs', 'data-toggle' => 'tooltip', 'data-placement' => 'top', :title => _('Delete') %>
        </td>
      <% end -%>
    </tbody>
  </table>
</div>
