<div class="page-header">
  <%= link_to new_user_path, :class => 'btn btn-primary' do %>
    <span class="fa fa-plus"></span>
    <%= _('New User') %>
  <% end %>
  <h1><%= _('Users') %></h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover datatable">
    <thead>
      <tr>
        <th><%= _('First name') %></th>
        <th><%= _('Last name') %></th>
        <th><%= _('Email') %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @users) do |user| %>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td>
        <%= link_to fa_icon('search'), user, class: 'btn btn-primary btn-xs', 'data-toggle' => 'tooltip', 'data-placement' => 'top', :title => _('View') %>
        <%= link_to fa_icon('pencil'), edit_user_path(user), class: 'btn btn-warning btn-xs', 'data-toggle' => 'tooltip', 'data-placement' => 'top', :title => _('Edit') %>
        <%= link_to fa_icon('remove'), user, method: :delete, data: { confirm: _('Are you sure that you want delete this?') }, class: 'btn btn-danger btn-xs', 'data-toggle' => 'tooltip', 'data-placement' => 'top', :title => _('Delete') %>
        </td>
      <% end -%>
    </tbody>
  </table>
</div>
