<div class="page-header">
  <%%= link_to <%= index_helper %>_path, :class => 'btn btn-default' do %>
    <span class="fa fa-list-alt"></span>
    <%%= _('Back') %>
  <%% end %>
  <%%= link_to edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), :class => 'btn btn-primary' do %>
    <span class="fa fa-pencil"></span>
  <%%= _('Edit') %>
  <%% end %>
  <h1><%%= _('Show <%= singular_table_name %>') %></h1>
</div>

<dl class="dl-horizontal">
  <%- attributes.each do |attribute| -%>
  <dt><%%= _('<%= attribute.human_name %>:') %></dt>
  <dd><%%= @<%= singular_table_name %>.<%= attribute.name %> %></dd>
  <%- end -%>
</dl>
