
<h1>Overview, deben salir los botones de hacer tests y enviar preguntas.</h1>

<dl class="dl-horizontal">
  <dt><%= _('Name:') %></dt>
  <dd><%= @exam.name %></dd>
  <dt><%= _('Description:') %></dt>
  <dd><%= @exam.description %></dd>
  <dt><%= _('End date:') %></dt>
  <dd><%= @exam.end_date %></dd>
  <dt><%= _('Subject:') %></dt>
  <dd><%= @exam.subject_id %></dd>
</dl>
